*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    background-image: url("img/website-banner.png");
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 80px 0 0 80px;
}

.container{
    font-family: inter, system-ui, sans-serif;
    color: white;
    margin-top: 150px;
}

.text-position {
    margin-top: 300px
}
.firm-name {
    margin: 0;
    font-size: 4em;
}

.punch-line {
    margin: 5px 0;
    font-size: 1.75em;
}

.about{
    margin: 50px 0 50px 0;
    font-size: 1.5em;
    font-weight: 600;
}

.underline {
    border-bottom: .25em solid #00aaff;
}

.btn {
    margin: 0 0 15px 0;
    padding: 15px 25px;
    background: #00aaff;
    border: 0;
    border-radius: 2px ;
    font-family: inherit;
    font-size: 1.25em;
    font-weight: 600;
    color: white;
}

.socials {
    margin: 10px 0 0 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.socials li {
    width: 30px;
}

.svg-wrapper {
    width: 30px;
    height: 30px;
    display: flex;
}

.social-icon {
    fill: #b4b4b4;
}

.svg-wrapper:hover .social-icon {
    fill: #f3f3f3;
}